.gauge-wrapper {
	display: inline-block;
	width: auto;
	margin: 0 auto;
	padding: 20px 15px 15px;
}

.gauge {
	background: #e7e7e7;
	box-shadow: 0 -3px 6px 2px rgba(0, 0, 0, 0.5);
	width: 200px;
	height: 100px;
	border-radius: 100px 100px 0 0 !important;
	position: relative;
	overflow: hidden;
}

.gauge-center {
	content: "";
	color: #fff;
	width: 60%;
	height: 60%;
	background: #15222e;
	border-radius: 100px 100px 0 0 !important;
	position: absolute;
	box-shadow: 0 -13px 15px -10px rgba(0, 0, 0, 0.28);
	right: 21%;
	bottom: 0;
	color: #fff;
	z-index: 10;
}

.gauge-center .number {
	display: block;
	margin-top: 1em;
	width: 100%;
	text-align: center;
	border: 0 !important;
}

.gauge-center .number {
	font-size: 1.2em;
}

.needle {
	width: 80px;
	height: 7px;
	background: #15222e;
	border-bottom-left-radius: 100% !important;
	border-bottom-right-radius: 5px !important;
	border-top-left-radius: 100% !important;
	border-top-right-radius: 5px !important;
	position: absolute;
	bottom: -2px;
	left: 20px;
	transform-origin: 100% 4px;
	transform: rotate(0deg);
	box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.38);
	display: none;
	z-index: 9;
}
.needle0 {
	animation: fourspeed0 4s 1 both;
	animation-delay: 1s;
	display: block;
}
@keyframes fourspeed0 {
	0% {
		transform: rotate(0);
	}
	33% {
		transform: rotate(180deg);
	}
	66% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(5deg);
	}
}
.needle1 {
	animation: fourspeed1 4s 1 both;
	animation-delay: 1s;
	display: block;
}
@keyframes fourspeed1 {
	0% {
		transform: rotate(0);
	}
	33% {
		transform: rotate(180deg);
	}
	66% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(22deg);
	}
}
.needle2 {
	animation: fourspeed2 4s 1 both;
	animation-delay: 1s;
	display: block;
}
@keyframes fourspeed2 {
	0% {
		transform: rotate(0);
	}
	33% {
		transform: rotate(180deg);
	}
	66% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(39deg);
	}
}
.needle3 {
	animation: fourspeed3 4s 1 both;
	animation-delay: 1s;
	display: block;
}
@keyframes fourspeed3 {
	0% {
		transform: rotate(0);
	}
	33% {
		transform: rotate(180deg);
	}
	66% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(56deg);
	}
}
.needle4 {
	animation: fourspeed4 4s 1 both;
	animation-delay: 1s;
	display: block;
}
@keyframes fourspeed4 {
	0% {
		transform: rotate(0);
	}
	33% {
		transform: rotate(180deg);
	}
	66% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(73deg);
	}
}
.needle5 {
	animation: fourspeed5 4s 1 both;
	animation-delay: 1s;
	display: block;
}
@keyframes fourspeed5 {
	0% {
		transform: rotate(0);
	}
	33% {
		transform: rotate(180deg);
	}
	66% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(90deg);
	}
}
.needle6 {
	animation: fourspeed6 4s 1 both;
	animation-delay: 1s;
	display: block;
}
@keyframes fourspeed6 {
	0% {
		transform: rotate(0);
	}
	33% {
		transform: rotate(180deg);
	}
	66% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(107deg);
	}
}
.needle7 {
	animation: fourspeed7 4s 1 both;
	animation-delay: 1s;
	display: block;
}
@keyframes fourspeed7 {
	0% {
		transform: rotate(0);
	}
	33% {
		transform: rotate(180deg);
	}
	66% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(124deg);
	}
}
.needle8 {
	animation: fourspeed8 4s 1 both;
	animation-delay: 1s;
	display: block;
}
@keyframes fourspeed8 {
	0% {
		transform: rotate(0);
	}
	33% {
		transform: rotate(180deg);
	}
	66% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(141deg);
	}
}
.needle9 {
	animation: fourspeed9 4s 1 both;
	animation-delay: 1s;
	display: block;
}
@keyframes fourspeed9 {
	0% {
		transform: rotate(0);
	}
	33% {
		transform: rotate(180deg);
	}
	66% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(158deg);
	}
}
.needle10 {
	animation: fourspeed10 4s 1 both;
	animation-delay: 1s;
	display: block;
}
@keyframes fourspeed10 {
	0% {
		transform: rotate(0);
	}
	33% {
		transform: rotate(180deg);
	}
	66% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(175deg);
	}
}

.slice-colors {
	height: 100%;
}

.slice-colors .st {
	position: absolute;
	bottom: 0;
	width: 0;
	height: 0;
	border: 50px solid transparent;
}

.four .slice-colors .st.slice-item:nth-child(2) {
	border-top: 52px #e67e22 solid;
	border-right: 50px #e67e22 solid;
	background-color: #e84c3d;
}
.four .slice-colors .st.slice-item:nth-child(4) {
	left: 49%;
	border-bottom: 50px #1eaa59 solid;
	border-right: 54px #1eaa59 solid;
	background-color: #f1c40f;
}
